apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: jenkins-seed-analytics
  namespace: evaluation-system
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["create", "delete", "get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: jenkins-seed-analytics
  namespace: evaluation-system
subjects:
  - kind: ServiceAccount
    name: default
    namespace: jenkins
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: jenkins-seed-analytics
