<app-background-div class="auth">

  <main class="auth__main">
    <section class="auth__card">
      <h1 class="auth__title">Create your Burrito account</h1>
      <p class="auth__subtitle">Join and start using Burrito in just a few seconds.</p>

      <form
        class="auth__form"
        (ngSubmit)="onSubmit()"
      >
        <div class="auth__field-group">
          <label class="auth__field auth__field--half">
            <span class="auth__label">First name</span>
            <input
              class="auth__input"
              type="text"
              name="firstName"
              [(ngModel)]="firstName"
              required
            />
          </label>

          <label class="auth__field auth__field--half">
            <span class="auth__label">Last name</span>
            <input
              class="auth__input"
              type="text"
              name="lastName"
              [(ngModel)]="lastName"
              required
            />
          </label>
        </div>

        <label class="auth__field">
          <span class="auth__label">Email</span>
          <input
            class="auth__input"
            type="email"
            name="email"
            [(ngModel)]="email"
            required
          />
        </label>

        <label class="auth__field">
          <span class="auth__label">Password</span>
          <input
            class="auth__input"
            type="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </label>

        <div class="auth__actions">
          <app-button
            type="submit"
            variant="primary"
          >
            Create account
          </app-button>

          <button
            type="button"
            class="auth__forgot"
            [routerLink]="'/sign-in'"
          >
            Already have an account?
          </button>
        </div>
      </form>
    </section>
  </main>

</app-background-div>
