<app-background-div class="auth">

  <main class="auth__main">
    <section class="auth__card">
      <h1 class="auth__title" i18n="@@signIn.title">Sign in to Burrito</h1>
      <form
        class="auth__form"
        (ngSubmit)="onSubmit()"
      >
        <label class="auth__field">
          <span class="auth__label" i18n="@@signIn.emailLabel">Email</span>
          <input
            class="auth__input"
            type="email"
            name="email"
            [(ngModel)]="email"
            required
          />
        </label>

        <label class="auth__field">
          <span class="auth__label" i18n="@@signIn.passwordLabel">Password</span>
          <input
            class="auth__input"
            type="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </label>

        <div class="auth__actions">
          <app-button
            type="submit"
            variant="primary"
          >
            <span i18n="@@signIn.submit">Sign in</span>
          </app-button>
        </div>
      </form>

    </section>
  </main>

</app-background-div>
