@use 'burrito-theme' as theme;

.background-div {
  min-height: 100vh;            // instead of min-height
  box-sizing: border-box;   // include padding in the 100vh
  background: radial-gradient(
    circle at top left,
    theme.$primary-light 0,
    theme.$bg-light 45%,
    theme.$white 100%
  );
  color: theme.$text-dark;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.75rem 0;
  font-family: theme.$font-family-base;

  @media (min-width: 768px) {
    padding: 2rem 4rem 0;
  }
}
