html, body, :root {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
