@use 'styles/burrito-theme' as theme;

html, body, :root {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: theme.$light-gray;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  width: auto;
  height: auto;
  display: inline-block;

  &:disabled {
    cursor: not-allowed;
  }
}
