<header class="home__header">
  <div class="home__logo" routerLink="/">
    <span class="home__logo-icon">🌯</span>
    <span class="home__logo-text">Burrito</span>
  </div>

  <div class="home__actions">
    
    @if (userService.currentUser(); as user) {
      
      <span class="home__welcome">
        Welcome, <strong>{{ user.fullName }}</strong>
      </span>

      <app-button 
        variant="outline" 
        (click)="logout()"
      >
        Logout
      </app-button>

    } @else {

      <app-button
        variant="outline"
        [routerLink]="'/sign-in'"
      >
        Sign in
      </app-button>

      <app-button
        variant="primary"
        [routerLink]="'/register'"
      >
        Register
      </app-button>
    }

  </div>
</header>