apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-tempo
  labels:
    grafana_datasource: "1"
data:
  tempo-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Tempo
        uid: tempo
        type: tempo
        access: proxy
        url: http://tempo.monitoring.svc.cluster.local:3200
        jsonData:
          httpMethod: GET
          nodeGraph:
            enabled: true
          tracesToLogsV2:
            datasourceUid: loki
            tags:
              - service.name
              - k8s.namespace.name
              - pod
              - app
            filterByTraceID: true
            filterBySpanID: true
            spanStartTimeShift: "-5m"
            spanEndTimeShift: "5m"
